@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Open Sans';
}

nav {
    max-width: 1380px;
    display: flex;
    justify-content: space-between;
}

.navbar {
    text-decoration: none;
    padding: 12px 12px 12px 11px;
}