body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    padding: 10px;
    margin: 10px 0;
    margin-right: 20px;
}

div.lvl1 {
    background-color: #405b5b;
    color: white;
    font-weight: bold;   
}

div.lvl2 {
    background-color: azure;
    font-weight: 400;
    color: black;
}
